body {
    background-color: black;
    font-family: Verdana;
    text-align: center;
    color: white;
}
h1 {
    font-weight: normal;
    font-size: 50px;
}
h2 {
    font-weight: 300;
    font-size: 42px;
}
a {
    color: aquamarine;
    font-size: 16px;
}
#description {
    font-size: 21px;
    color: gray;
}
#phone {
    margin: 15px;
}
#copyright {
    font-size: 21px;
    color: gray;
    text-align: right;
}